
*{
    margin: 0;
    padding: 0;
}

body{
    background: url(images/bg-img.jpeg);
}

header{
    color: white;
    text-align: center;
    margin-top: 20px;

}

.container{
    margin-top: 50px;
    background: transparent;
    backdrop-filter: blur(5px);
    background: transparent;
    width: 500px;
    height: 400px;
    margin-left: 50%;
    transform: translate(-50%);
    border: 3px solid rgb(123, 145, 90);
}

#count{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    color: rgb(8, 59, 59);
}

.buttons{
    width: 100%;
    height: 80px;
    text-align: center;
    margin: 20px;
}

.buttons button{
    border-radius: 8px;
    background-color: aqua;
    padding: 15px;
    font-weight: bold;
    color: black;
}

.buttons button:hover{
   background-color: black;
   color: white;
    font-weight: bold;
    backdrop-filter: blur(2px);
}

.text{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}

#entered{
    text-transform: capitalize ;
    text-align: justify;
    color: #110a09;
    font-weight: bold;
}